body,html{
    height: 100%;
    
}

.mainBlock{
    border:1px solid black;
    display: flex;
background-image: url('port.jpg');
background-size: cover;
    flex-flow:row wrap;
}
.secondary{
    padding: 10px;
    margin: 20px;
    border:1px solid black;
   width:25%;
   text-align: center;
   align-self:center;
    flex:1 1 300px;
   
}
#plane{
    width:100%;
}
p{
    font-size: 20px;
}
nav{
   left:35px;
    position: fixed;
    width: 100%;
}
nav a{text-decoration: none;
    transition: 0.3s;
    border-radius: 5px;
    padding: 5px;
    background:#ff9933; 
}
nav a:hover{
    background:white;
}